<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">

    

    
</head>

<body>
    
    <nav>

        <div class="nav-wrapper">

            <div class="nav_div1">
                <a href="/"><img class="logo" src="/img/logo.png" alt="logo"></a>
            
            </div>
            <div class="nav_div2">
                <ul>

                    <li><a href="/">Home</a></li>
                    <li><a href="#">Menu</a></li>
                    <li><a href="#">Offers</a></li>

                    <% if(user){ %>

                        <form id="logout" action="/logout" method="POST">

                            <li><a onclick="document.getElementById('logout').submit()" href="#">Logout</a></li>

                        </form>

                    

                    <% } else { %>

                    <li><a href="/register">Register</a></li>
                    <li><a href="/login">Login</a></li>

                    <% } %>

                    <li><a href="/cart" class="cart_logo"><span id="cart-counter"> <%= session.cart?session.cart.totalQty:'' %>  </span><img src="/img/cart.png" alt=""></a></li>

                </ul>
            </div>

        </div>
        
    </nav>
    <%- body %>


    
    <script src="https://unpkg.com/noty@3.1.4/lib/noty.min.js"></script>
    <script type="module" src="./src/app.js"></script>


</body>
</html>